In [44]:
import pandas as pd

df = pd.read_csv('./data/실거래가_전처리.csv', encoding='cp949')
df.head(2)

,접수연도,법정동코드,건물명,계약일,물건금액(만원),건물면적(㎡),건축년도,건물용도,주소,Latitude,Longitude
0,2024,10800,래미안리더스원,20240523,225000,59.96,2020,아파트,서초동 1755,37.490536,127.028328
1,2024,10600,반포센트럴자이,20240523,430000,114.96,2020,아파트,잠원동 162,37.507222,127.001683

In [45]:
# df.dropna(axis=0, how='any', inplace=True)   # 결측치 제거--> 결측치 없어서 필요없음

In [46]:
df.isnull().sum()

접수연도         0
법정동코드        0
건물명          0
계약일          0
물건금액(만원)     0
건물면적(㎡)      0
건축년도         0
건물용도         0
주소           0
Latitude     0
Longitude    0
dtype: int64

In [47]:
name = df['건물명']
lat_array = df['Latitude']   # Series 자료형이다
lon_array = df['Longitude']
# lat_array
# lon_array
# type(lat_array)
# for i in range(len(df)):
#     print(f'좌표 : ({lat_array[i]}, {lon_array[i]})   (위도, 경도)')

In [48]:
df_ele = pd.read_csv('./data/서울시 초등학교 기본정보.csv', encoding="cp949")
df_ele.head(2)

,Unnamed: 0,학교명,도로명주소,Latitude(위도),Longitude(경도),설립일자,개교기념일,적재일시
0,공립,서울우솔초등학교,서울특별시 서초구 양재대로2길 74,37.457024,127.019315,20130301,20130610,20230615
1,공립,서울우면초등학교,서울특별시 서초구 태봉로,37.465638,127.025872,20120301,20120605,20230615

In [49]:
name_ele = df_ele['학교명']
lat_array_ele = df_ele['Latitude(위도)']   # Series 자료형이다
lon_array_ele = df_ele['Longitude(경도)']

print(type(lat_array_ele))

<class 'pandas.core.series.Series'>

In [50]:
df_ele.isnull().sum()

Unnamed: 0       0
학교명              0
도로명주소            0
Latitude(위도)     0
Longitude(경도)    0
설립일자             0
개교기념일            0
적재일시             0
dtype: int64

In [51]:
element = (float(lat_array_ele[0]), float(lon_array_ele[0]))
element

(37.4570244, 127.0193154)

In [52]:
# 적당히 백업본 만듦.
df2 = df
df_ele2 = df_ele

In [61]:
from haversine import haversine       # 노란줄 표시가 나지만 제대로 작동한다!

distance = []

for i in range(len(df)):
    apartment = (float(lat_array[i]), float(lon_array[i]))


    element = (float(lat_array_ele[0]), float(lon_array_ele[0]))
    df2['서울우솔초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[1]), float(lon_array_ele[1]))
    df2['서울우면초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[2]), float(lon_array_ele[2]))
    df2['서울매헌초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[3]), float(lon_array_ele[3]))
    df2['서울우암초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[4]), float(lon_array_ele[4]))
    df2['서울방현초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[5]), float(lon_array_ele[5]))
    df2['서울원명초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[6]), float(lon_array_ele[6]))
    df2['서울서일초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[7]), float(lon_array_ele[7]))
    df2['서울서원초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[8]), float(lon_array_ele[8]))
    df2['서울방일초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[9]), float(lon_array_ele[9]))
    df2['서울서이초등학교_거리_km'] = haversine(element, apartment , unit='km')


    element = (float(lat_array_ele[10]), float(lon_array_ele[10]))
    df2['서울양재초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[11]), float(lon_array_ele[11]))
    df2['서울서래초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[12]), float(lon_array_ele[12]))
    df2['서울반원초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[13]), float(lon_array_ele[13]))
    df2['서울서초초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[14]), float(lon_array_ele[14]))
    df2['서울원촌초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[15]), float(lon_array_ele[15]))
    df2['서울잠원초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[16]), float(lon_array_ele[16]))
    df2['서울이수초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[17]), float(lon_array_ele[17]))
    df2['서울방배초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[18]), float(lon_array_ele[18]))
    df2['서울반포초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[19]), float(lon_array_ele[19]))
    df2['서울교육대학교부설초등학교_거리_km'] = haversine(element, apartment , unit='km')

    
    element = (float(lat_array_ele[20]), float(lon_array_ele[20]))
    df2['서울신동초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[21]), float(lon_array_ele[21]))
    df2['서울신중초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[22]), float(lon_array_ele[22]))
    df2['서울언남초등학교_거리_km'] = haversine(element, apartment , unit='km')
    element = (float(lat_array_ele[23]), float(lon_array_ele[23]))
    df2['계성초등학교_거리_km'] = haversine(element, apartment , unit='km')


# 루프를 돌때마다 데이터프레임 전체를 매번 업데이트하면 제대로 값이 들어가지않는다
# 값을 모두 저장할 객체를 생성 후 데이터를 모두 저장하면 데이터 프레임에 데이터를 넣어야한다!!




# distance.append(haversine(element, apartment , unit='km'))

# 3383행(마지막행) 에서 float 타입 열이 있어서 에러 나는 현상 발생... ==> 결측치 제거완료!

In [68]:
df2.head()

# 잘못된 값이 삽입됨을 확인함

,접수연도,법정동코드,건물명,계약일,물건금액(만원),건물면적(㎡),건축년도,건물용도,주소,Latitude,...,서울원촌초등학교_거리_km,서울잠원초등학교_거리_km,서울이수초등학교_거리_km,서울방배초등학교_거리_km,서울반포초등학교_거리_km,서울교육대학교부설초등학교_거리_km,서울신동초등학교_거리_km,서울신중초등학교_거리_km,서울언남초등학교_거리_km,계성초등학교_거리_km
0,2024,10800,래미안리더스원,20240523,225000,59.96,2020,아파트,서초동 1755,37.490536,...,2.195158,2.935314,4.095735,3.624670,3.558079,1.067776,3.275546,2.013899,5.015435,3.196658
1,2024,10600,반포센트럴자이,20240523,430000,114.96,2020,아파트,잠원동 162,37.507222,...,0.990584,0.705051,3.567275,2.559050,1.054932,2.289467,1.405540,3.110787,7.937413,0.522374
2,2024,10800,서초푸르지오써밋,20240522,270000,84.93,2017,아파트,서초동 1311 10,37.501162,...,0.886884,2.006082,4.094112,3.329747,2.630141,1.287340,1.924413,2.548206,6.362750,2.159244
3,2024,10700,아크로리버파크,20240518,390000,84.95,2016,아파트,반포동 2 12,37.505457,...,1.767512,0.639176,3.121768,2.087551,0.328572,2.678108,2.113886,3.204191,8.344793,0.362394
4,2024,10800,래미안리더스원,20240517,293000,84.94,2020,아파트,서초동 1755,37.490536,...,2.195158,2.935314,4.095735,3.624670,3.558079,1.067776,3.275546,2.013899,5.015435,3.196658

In [64]:
from haversine import haversine

# 거리 값을 저장할 빈 리스트를 생성
distances = {
    '서울우솔초등학교_거리_km': [],
    '서울우면초등학교_거리_km': [],
    '서울매헌초등학교_거리_km': [],
    '서울우암초등학교_거리_km': [],
    '서울방현초등학교_거리_km': [],
    '서울원명초등학교_거리_km': [],
    '서울서일초등학교_거리_km': [],
    '서울서원초등학교_거리_km': [],
    '서울방일초등학교_거리_km': [],
    '서울서이초등학교_거리_km': [],

    '서울양재초등학교_거리_km': [],
    '서울서래초등학교_거리_km': [],
    '서울반원초등학교_거리_km': [],
    '서울서초초등학교_거리_km': [],
    '서울원촌초등학교_거리_km': [],
    '서울잠원초등학교_거리_km': [],
    '서울이수초등학교_거리_km': [],
    '서울방배초등학교_거리_km': [],
    '서울반포초등학교_거리_km': [],
    '서울교육대학교부설초등학교_거리_km': [],
    
    '서울신동초등학교_거리_km': [],
    '서울신중초등학교_거리_km': [],
    '서울언남초등학교_거리_km': [],
    '계성초등학교_거리_km': []
}

# 각 아파트에 대해 거리 계산
for i in range(len(df)):
    apartment = (float(lat_array[i]), float(lon_array[i]))

    for j in range(len(lat_array_ele)):
        element = (float(lat_array_ele[j]), float(lon_array_ele[j]))
        school_name = list(distances.keys())[j]
        distance = haversine(element, apartment, unit='km')
        distances[school_name].append(distance)

# 원래 데이터프레임에 거리 값을 추가
for school_name, distance_list in distances.items():
    df2[school_name] = distance_list

In [66]:
# df2
df2.to_csv('아파트_초등학교_거리(미완).csv')

In [70]:
# 이번엔 가장 가까운 거리만 추출하려고한다
df3 = df

In [74]:
from haversine import haversine

# 거리 값을 저장할 빈 리스트를 생성
min_distance = {
    '가장_가까운_초등학교_거리_km': []
}
school_name = (
    '서울우솔초등학교',
    '서울우면초등학교',
    '서울매헌초등학교',
    '서울우암초등학교',
    '서울방현초등학교',
    '서울원명초등학교',
    '서울서일초등학교',
    '서울서원초등학교',
    '서울방일초등학교',
    '서울서이초등학교',

    '서울양재초등학교',
    '서울서래초등학교',
    '서울반원초등학교',
    '서울서초초등학교',
    '서울원촌초등학교',
    '서울잠원초등학교',
    '서울이수초등학교',
    '서울방배초등학교',
    '서울반포초등학교',
    '서울교육대학교부설초등학교',
    
    '서울신동초등학교',
    '서울신중초등학교',
    '서울언남초등학교',
    '계성초등학교'
)

m=0
for i in range(len(df)):
    apartment = (float(lat_array[i]), float(lon_array[i]))

    for j in range(len(lat_array_ele)):
        element = (float(lat_array_ele[j]), float(lon_array_ele[j]))
        distance = haversine(element, apartment, unit='km')
        school_name = school_name[j]
        if distance<m:
            m=distance


    min_distance[school_name].append(distance)

# 원래 데이터프레임에 가장 가까운 초등학교와의 거리 값을 추가
# for school_name, distance_list in distances.items():
#     df3[school_name] = distance_list

# 가장 가까운 초등학교의 이름 값을 추가

KeyError: 0